{
  "Sophos": {
    "Username": "my-api-account",
    "Password": "strong-password"
  },
  "ApiKeys": {
    "118054c8-b759-462b-83f4-c22b33735298": { "Mode": "Dns" },
    "docker-1-118054c8-b759-462b-83f4-c22b33735298": { "Mode": "Sophos", "SophosRuleName": "WAN TO DOCKER-1", "SophosGroupName": "WAN to LAN"  }
  }
}